{{define "premium_user_setup"}}

{{template "cp_head" .}}

<div class="page-header">
    <h2>Premium setup</h2>
</div>

{{template "cp_alerts" .}}

<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Info</h2>
            </header>
            <div class="card-body">
                <p>Aqui você pode usar seus códigos de sorteios e transformar seu servidor em Premium!</p>
                <p>Manter um bot de discord rodando 24 horas por dia não é barato. Além disso, o bot funciona principalmente gerando requests http
                que se usados de forma errada podem ser considerados spam. Devido a isso, alguma funções são exclusivas para servidores premium.
                Além disso, pegando 2 slots premium eu vou te dar alguns códigos que eu mesmo fiz que são excelentes pra quem tem uma guild grande!
                Pegando 3 slots premium, ou mais, e vou te dar todos os meus códigos personalizados e montar o servidor inteiro pra você! E não só isso, esses códigos são até 10 vezes mais rápidos e eficientes que os códigos de quem só tem 2 slots premium.</p>
                <p><b>Se você tiver qualquer problema com seu premium me avisa!</b></p>
                <p><b>OBS:</b>Esse bot ainda é um hobby desenvolvido por 1 cara no tempo livre. Com isso em mente, saiba que o premium é so um suporte para mim e não um produto.</p>
                <button class="btn btn-primary mb-2" type="button" data-toggle="collapse" data-target="#premium-how-to-get" aria-expanded="false" aria-controls="premium-how-to-get">
                    Como eu consigo premium?
                </button>
                <div class="collapse" id="premium-how-to-get">
                    <section class="card">
                        <div class="card-body">
                            <ul>
                                <li>Me chama no <a href="https://discord.gg/5HTJVHQ">servidor oficial</a> ou me manda uma DM!</li>
                                <li>Preços:
                                    <ul>
                                        <li>R$ 15,00 = 1 slot premium</li>
                                        <li>R$ 25,00 = 2 slots premium + alguns códigos personalizados</li>
                                        <li>R$ 50,00 = 3 slots premium + todos os meus códigos personalizados</li>
                                        <li>R$ 60,00 = 5 slort premium</li>
                                        <li>Acima disso, + 1 slot premium a cada 10 reais.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <br>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#premium-full-benefits" aria-expanded="false" aria-controls="premium-full-benefits">
                    Lista de benefícios premium
                </button>
                <div class="collapse" id="premium-full-benefits">
                    <section class="card">
                        <div class="card-body">
                            <b>Geral</b>
                            <ul>
                                <li>Suporte prioritário</li>
                            </ul>

                            <b>Limites extendidos</b>
                            <ul>
                                <li>Aumento do armazenamento de mensagens de 1 para 12 horas. O que significa que você pode buscar mensagens apagadas no servidor nas últimas 12 horas</li>
                                <li>Limite de custom commands aumentado de 100 para 250</li>
                                <li>Aumento de 10 vezes no limite de databases</li>
                                <li><b>Permissão de usar as funções de simultaniedade que são até 10 vezes mais rápidas que as funções padrões.</li>
                                <li>Aumento de limite de várias funções:</li>
                                <ul>
                                    <li>getChar -> 40 calls por CC.</li>
                                    <li>getDeaths -> 40 calls por CC.</li>
                                    <li>getDeath -> 40 calls por CC.</li>
                                    <li>getGuild -> 5 calls por CC.</li>
                                    <li>getGuildMembers -> 2 calls por CC.</li>
                                    <li>checkOnline -> 5 calls por CC.</li>
                                    <li>getNews -> 3 calls por CC.</li>
                                    <li>libera as funções getMultipleChars e getMultipleCharsDeath</li>
                                </ul>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Código</h2>
            </header>
            <div class="card-body">
                <form method="post" data-async-form>
                    <input type="text" class="form-control" name="code">
                    <button type="submit" value="Redeem code" class="btn btn-success" formaction="/premium/redeemcode">Código</button>
                    <button type="submit" value="Check code" class="btn btn-primary" formaction="/premium/lookupcode">Verificar código</button>
                </form>
                {{with .QueriedCode}}
                    <ul>
                        <li>Cóigo: <code>{{.Code}}</code></li>
                        <li>Permanente: <code>{{.Permanent}}</code></li>
                        <li>Duração: <code>{{.Duration}}</code></li>
                    </ul>
                {{end}}
            </div>
        </section>
    </div>
</div>
<div class="row">
    {{$dot := .}}
    {{range .PremiumSlots}}
        <div class="col-md-6 mb-2">
            <section class="card {{if .GuildID.Valid}}card-featured card-featured-success{{end}}">
                <header class="card-header">
                    <h2 class="card-title">Slot: {{.Title}}</h2>
                </header>

                <div class="card-body">
                    <ul>
                        <li>
                            {{if not .Permanent}} Expira em: <code>{{humanizeDurationHours (call $dot.PremiumSlotDurationRemaining .)}}</code>
                            {{else}} Nunca expira
                            {{end}}.
                        </li>
                        {{with .Message}}<li>{{.}}</li>{{end}}
                    </ul>

                    <form action="/premium/updateslot/{{.ID}}" method="post" data-async-form>
                        <div class="form-group">
                            <label for="slot-{{.ID}}">Escolha o servidor</label>
                            <select name="GuildID" class="form-control" id="slot-{{.ID}}">
                                {{$found := false}}
                                <option value="0" {{if not .GuildID.Valid}}{{$found = true}} selected{{end}}>Nenhum</option>
                                {{$selected := .GuildID.Int64}}
                                {{range  $dot.UserGuilds}}
                                    {{if .Connected}}
                                        <option value="{{.ID}}" {{if eq .ID $selected}}{{$found = true}} selected {{end}}>{{.Name}}</option>
                                    {{end}}
                                {{end}}

                                {{if not $found}}
                                    <option value="{{.GuildID.Int64}}" selected>Servidor desconhecido ({{.GuildID.Int64}})</option>
                                {{end}}
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success mt-2">Update slot premium</button>
                    </form>
                </div>
            </section>
        </div>
    {{end}}
</div>

{{template "cp_footer" .}}

{{end}}