{{define "cp_server_home"}}
	{{template "cp_head" .}}

	<header class="page-header">
		{{if .IsPT}} <h2>Visão Geral</h2>
		{{else}} <h2>Combined Overview</h2>
		{{end}}
	</header>

	{{template "cp_alerts" .}}

	{{range .PluginContainers}}
		{{if $.IsPT}} <h2>{{.Category.NamePT}}</h2>
		{{else}} <h2>{{.Category.Name}}</h2>
		{{end}}
		<div class="row">
			{{range .Widgets}}
			<div class="col-12 col-sm-6 col-md-4" id="home-widget-{{.PluginName}}">
				<section class="card">
					<header class="card-header">
						<h2 class="card-title">{{.HumanName}}</h2>
					</header>
					<div class="card-body">
						{{if $.IsPT}} Carregando...
						{{else}} Loading...
						{{end}}
					</div>
				</section>
			</div>
			{{end}}
		</div>
	{{end}}

	<script type="text/javascript">
		$(function(){
			{{$ag := .ActiveGuild}}
			{{range .PluginContainers}}
				{{range .Widgets}}
					loadWidget("home-widget-{{.PluginName}}", "/manage/{{$ag.ID}}/homewidgets/{{.PluginName}}")
				{{end}}
			{{end}}
		});
	</script>

	{{template "cp_footer" .}}
{{end}}


{{define "cp_server_home_widget"}}
	<section class="card {{if .WidgetEnabled}}card-featured card-featured-success{{else if .WidgetDisabled}}card-featured card-featured-danger{{end}}">
		<header class="card-header">
			<h2 class="card-title">
				{{if .IsPT}} {{.WidgetTitlePT}}
				{{else}} {{.WidgetTitle}}
				{{end}}
			</h2>
		</header>
		<div class="card-body">
			{{if .IsPT}} {{.WidgetBodyPT}}
			{{else}} {{.WidgetBody}}
			{{end}}
		</div>
		{{if .SettingsPath}}
			<div class="card-footer">
				<a href="/manage/{{.ActiveGuild.ID}}{{.SettingsPath}}" data-partial-load>
					{{if .IsPT}} Mude as configurações aqui
					{{else}} Change settings here
					{{end}}
				</a>
			</div>
		{{end}}
	</section>
{{end}}
