{{define "cp_selectserver"}}

{{template "cp_head" .}}
<header class="page-header"><h2>Notícias e updates</h2></header>
<div class="row">
    <div class="col-lg-7">

        {{if .JoinedGuild}}
        <section class="card card-featured card-featured-success mb-4">
            <header class="card-header">
                <h2 class="card-title">Bot adicionado a <b>{{.JoinedGuild.Name}}!</b></h2>
            </header>
            <div class="card-body">
                <p>O bot é controlado através do painel de controle. Em caso de dúvidas fale comigo no servidor de suporte no discord.</p>
                {{if .User}}
                <a class="btn btn-primary" href="/manage/{{.JoinedGuild.ID}}/home">Clique aqui para começar</a><br/>
                {{else}}
                <a class="btn btn-primary" href="/login?goto={{urlquery "/manage/" .JoinedGuild.ID "/home" }}">Clique aqui para fazer o login</a>
                {{end}}
                <br/>
            </div>
        </section>
        {{end}}

        {{if .Posts}}
        {{range .Posts}}
        <secton class="card">
            <header class="card-header">
                <h2 class="card-title float-left"><img class="avatar mr-2" src="{{.Message.Author.AvatarURL "256"}}"></img>{{.Message.Author.Username}}</h2>
                <span class="float-right">{{humanizeTimeSinceDays .ParsedTimestamp}} ago ({{.ParsedTimestamp.Format "02 Jan 06 15:04"}})</span>
            </header>
            <div class="card-body">
                {{.RenderedBody}}
            </div>
        </secton>
        {{end}}

        <p>
        {{if .CurrentPostsOffset}}
        <a class="btn btn-default" href="/manage?offset={{.PreviousPostsOffset}}">Posts recentes</a>
        {{end}}
        {{if .NextPostsOffset}}
        <a class="btn btn-default" href="/manage?offset={{.NextPostsOffset}}">Posts antigos</a>
        {{end}}
        {{end}}
        </p>
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-5">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Informação</h2>
            </header>
            <div class="card-body">
                <p>Para adicionar o bot no seu servidor, clique em fazer login no canto superior direito, depois selecione o servidor no menu "select server"</p>
                <p>Verifique se você tem a permissão "gerenciar servidor" e se você está logado na conta certa.</p>
                <p>Se você tiver dificuldades e precisar de ajuda: <a href="https://discord.gg/5HTJVHQ">servidor de suporte</a>.</p>
            </div>
        </section>
        {{if .patreonActive}}
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Obrigado patronos!</h2>
            </header>
            <div class="card-body">
                {{range .activePatrons}}
                <img class="avatar" src="{{.Avatar}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{.Name}}"></img>
                {{end}}
                <br>
            </div>
        </section>
        {{end}}
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Se liga...</h2>
            </header>
            <div class="card-body">
                <p>O YAGPDB oficial é open source e pode ser encontrado aqui: <a href="https://github.com/jonas747/yagpdb">jonas747/yagpdb</a>.</p>
                <p><a href="https://discord.gg/5HTJVHQ">Servidor oficial</a>.</p>
            </div>
        </section>
    </div>
</div>
<!-- /.row -->

{{template "cp_footer" .}}

{{end}}
