{{define "error404"}}
<!doctype html>
<html>
	<head>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png?v=6">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png?v=6">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png?v=6">
        <link rel="shortcut icon" href="/static/icons/favicon.ico?v=6">
        <title>Tid Bot</title>
	</head>

	<style>
        a:link, a:visited, a:hover, a:active {
            color: #ffce6c;
        }

        body {
            background-image: url('/static/img/BG1-small.jpg');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
	</style>

	<body>
        <p style="text-align:center;font-size:250%;margin-top:33px;font-family:'Lato',sans-serif;color:#ffce6c">
            Oh, no! We got the infamous 404 error.<br>
            Maybe go back to the <a href="/manage">home page</a>?
        </p>
        <img class="img-responsive about aboutlogo center-block" src="/static/img/404.png" alt="logo of tidbot">
	</body>
</html>
{{end}}