{{define "index"}}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="cache-control" content="max-age=2592000000">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png?v=6">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png?v=6">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png?v=6">
    <link rel="manifest" href="/static/icons/site.webmanifest?v=6">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg?v=6" color="#5bbad5">
    <link rel="shortcut icon" href="/static/icons/favicon.ico?v=6">

    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml?v=6">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="Tid Bot" />
    <meta property="og:description" content="Um bot de discord multipropósito" />

    <!-- For Social Media -->
    <meta property="description" content="Um bot de discord multipropósito" />

    <!-- For search engines -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/landing-page-min.css">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700|Poppins:500,700" rel="stylesheet">

    <!-- Title -->
    <title>Tid Bot</title>
</head>

<body>
    <style>
        body {
            background-image: url('/static/img/BG1-small.jpg');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>

    <!-- BR Site -->
    {{if .IsPT}}
        <!-- Nav Bar -->
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
            <a class="navbar-brand" href="#">
                <img src="/static/img/bot-small.png" width="50" height="50" class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse poppins" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/status">Status</a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="https://discordapp.com/oauth2/authorize?client_id={{.ClientID}}&scope=bot&permissions=2146827775&response_type=code&redirect_uri={{urlquery (print "https://" .Host "/manage")}}">Adicione ao seu servidor</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/premium">Premium</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 mr-2">
                    <a class="btn btn-outline-danger my-2 my-sm-0" href="/manage">Painel de Controle</a>
                </form>
                {{if .User}}
                    <form class="form-inline my-2 my-lg-0">
                        <a class="btn btn-outline-danger my-2 my-sm-0" href="/logout">Logout</a>
                    </form>
                {{end}}
            </div>
        </nav>

        <!-- Intro -->
        <div id="tscene" class="intro centered">
            <header class="centered">
                <div id="introo">
                <div class="container centered">
                    <div class="row justify-content-md-center">
                    <div class="col col-md-10">
                        <h1 class="brand-heading bold intro_head">
                            <br/>Tid Bot
                        </h1>
                        <div style="background-color: rgba(162,44,41,0.7);border:1px solid #a1a1a1;border-radius:5px;margin-top:25px">
                            <p style="margin: 7px;line-height:1.25em;font-size: 2.2em!important" class="intro_headline">Bot multipropósito</p>
                            <span style="text-align: center;color:#c1c1c1!important">Atualmente estou em {{.JoinedServers}} servidores</span>
                            <span style="text-align: left;display:block; margin-left:15px;margin-top: 0px;margin-bottom: 0px;color:#c1c1c1!important">>> Comandos executados hoje: {{humanizeThousands .Commands}}</span>
                            <span style="text-align: left;display:block; margin-left:15px;margin-top: 0px;margin-bottom: 0px;color:#c1c1c1!important">>> CustomCommands executados hoje: {{humanizeThousands .CCs}}</span><br>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </header>
        </div>

        <!-- About -->
        <div class="about">
            <section class="container content-section text-center">
                <a id="about"></a>
                <img class="img-responsive about aboutlogo center-block" src="/static/img/bot-small.png" alt="logo of tidbot">
                <div class="row justify-content-md-center">
                <div class="col col-lg-8 abouttext" style="padding-bottom: 3%;">
                    <h2 class="about poppins semibold">Sobre o Tid Bot</h2>
                    <p class="about">
                        Tid Bot é um bot para discord desenvolvido através do código do YAGPDB.<br>
                        <b>Quem sou eu?</b> Meu nome é Pedro Pessoa.<br>
                        Eu resolvi criar esse bot devido o fato do YAGPDB não ter várias funções que eu gostaria que tivesse.<br>
                        Por conta disso, diversas funcões novas foram implementadas, a lista completa você encontra <a href="">aqui</a><br>
                        O criador do código original é o Jonas747 (Jonas747#0001).<br>
                    </p>
                </div>
                </div>
            </section>
        </div>

        <!-- Links (nested with about) -->
        <div class="about">
            <section class="container content-section">
                <a id="about"></a>
                <div class="row justify-content-md-center">
                <div class="col col-lg-8 abouttext" style="padding-bottom: 3%;">
                    <h2 class="about poppins semibold">Tem perguntas? Se liga nesses links!</h2>
                    <ul>
                        <li>A documentação original pode ser encontrada em <a href="https://docs.yagpdb.xyz/">docs.yagpdb.xyz</a></li>
                        <li>O servidor de comunidade do Tid Bot para suporte, sugestões, etc pode ser encontrado <a href="">aqui</a></li>
                    </ul>
                </div>
                </div>
            </section>
        </div>

        <!-- Footer -->
        <section id="footer" class="container content-section text-center">
            <div class="row justify-content-md-center footer">
                <div class="col col-lg-12">
                    <p>
                        <b>YAGPDB</b> criado por
                        <a class="link" href="https://github.com/jonas747" rel="noopener" target="_blank">Jonas747</a> | Modificado por
                        <a class="link" href="https://github.com/Pedro-Pessoa" rel="noopener" target="_blank">Pedro Pessoa</a>
                    </p>
                </div>
            </div>
        </section>

    {{else}} <!-- EN Site -->
        <!-- Nav Bar -->
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
            <a class="navbar-brand" href="#">
                <img src="/static/img/bot-small.png" width="50" height="50" class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse poppins" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/status">Status</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://discordapp.com/oauth2/authorize?client_id={{.ClientID}}&scope=bot&permissions=2146827775&response_type=code&redirect_uri={{urlquery (print  "https://" .Host "/manage")}}">Add to your server</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/premium">Premium</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 mr-2">
                    <a class="btn btn-outline-danger my-2 my-sm-0" href="/manage">Control Panel</a>
                </form>
                {{if .User}}
                    <form class="form-inline my-2 my-lg-0">
                        <a class="btn btn-outline-danger my-2 my-sm-0" href="/logout">Logout</a>
                    </form>
                {{end}}
            </div>
        </nav>

        <!-- Intro -->
        <div id="tscene" class="intro centered">
            <header class="centered">
                <div id="introo">
                <div class="container centered">
                    <div class="row justify-content-md-center">
                    <div class="col col-md-10">
                        <h1 class="brand-heading bold intro_head">
                            <br/>Tid Bot
                        </h1>
                        <div style="background-color: rgba(162,44,41,0.7);border:1px solid #a1a1a1;border-radius:5px;margin-top:25px">
                            <p style="margin: 7px;line-height:1.25em;font-size: 2.2em!important" class="intro_headline">Multipurpose bot</p>
                            <span style="text-align: center;color:#c1c1c1!important">I'm currently in {{.JoinedServers}} servers</span>
                            <span style="text-align: left;display:block; margin-left:15px;margin-top: 0px;margin-bottom: 0px;color:#c1c1c1!important">>> Commands executed today: {{humanizeThousands .Commands}}</span>
                            <span style="text-align: left;display:block; margin-left:15px;margin-top: 0px;margin-bottom: 0px;color:#c1c1c1!important">>> CustomCommands executed today: {{humanizeThousands .CCs}}</span><br>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </header>
        </div>

        <!-- About -->
        <div class="about">
            <section class="container content-section text-center">
                <a id="about"></a>
                <img class="img-responsive about aboutlogo center-block" src="/static/img/bot-small.png" alt="logo of tidbot">
                <div class="row justify-content-md-center">
                <div class="col col-lg-8 abouttext" style="padding-bottom: 3%;">
                    <h2 class="about poppins semibold">About Tid Bot</h2>
                    <p class="about">
                        Tid Bot is a bot developed from YAGPDB's source code.<br>
                        <b>Who am I?</b> My name is Pedro Pessoa.<br>
                        I decided to create this bot because the original YAGPDB didn't have a lot of features I wished it had.<br>
                        Because of that, a bunch of new features were added to this bot, the full list you can find <a href="">here</a>.<br>
                        The original YAGPDB developer is Jonas747 (Jonas747#0001).<br>
                    </p>
                </div>
                </div>
            </section>
        </div>

        <!-- Links (nested with about) -->
        <div class="about">
            <section class="container content-section">
                <a id="about"></a>
                <div class="row justify-content-md-center">
                <div class="col col-lg-8 abouttext" style="padding-bottom: 3%;">
                    <h2 class="about poppins semibold">Tem perguntas? Se liga nesses links!</h2>
                    <ul>
                        <li>The documentation can be found at <a href="https://docs.yagpdb.xyz/">docs.yagpdb.xyz</a></li>
                        <li>The Tid Bot Community Server for support, suggestions, etc can be joined <a href="">here</a></li>
                    </ul>
                </div>
                </div>
            </section>
        </div>

        <!-- Footer -->
        <section id="footer" class="container content-section text-center">
            <div class="row justify-content-md-center footer">
                <div class="col col-lg-12">
                    <p>
                        <b>YAGPDB</b> created by
                        <a class="link" href="https://github.com/jonas747" rel="noopener" target="_blank">Jonas747</a> | Modified by
                        <a class="link" href="https://github.com/Pedro-Pessoa" rel="noopener" target="_blank">Pedro Pessoa</a>
                    </p>
                </div>
            </div>
        </section>
    {{end}}

    <!-- jQuery, Popper.Js, Bootstrap and Parallax -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    {{template "googleAnalytics" .}}
</body>
</html>

{{end}}

{{define "googleAnalytics"}}
    {{if and (not .Testing) .GAID}}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', '{{.GAID}}', 'auto');
            ga('send', 'pageview');
        </script>
    {{end}}
{{end}}