{{define "index"}}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="cache-control" content="max-age=2592000000">
<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png?v=6">
<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png?v=6">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png?v=6">
<link rel="manifest" href="/static/icons/site.webmanifest?v=6">
<link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg?v=6" color="#5bbad5">
<link rel="shortcut icon" href="/static/icons/favicon.ico?v=6">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/static/icons/browserconfig.xml?v=6">
<meta name="theme-color" content="#ffffff">

  <meta property="og:title" content="Tid Tibia Bot" />
  <meta property="og:description" content="Um bot de discord para o MMORPG Tibia" />
  <!-- For Social Media -->
  <meta property="description" content="Um bot de discord para o MMORPG Tibia" />
  <!-- For search engines -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/landing-page-min.css">
  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700|Poppins:500,700" rel="stylesheet">
  <title>TID TIBIA BOT</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
    <a class="navbar-brand" href="#">
      <img src="/static/img/logo_y_small.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse poppins" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a id="link_to_about" class="nav-link js-anchor-link" href="#about">Sobre</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link js-anchor-link" href="#features">Funcionalidades</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/status">Status</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://discordapp.com/oauth2/authorize?client_id={{.ClientID}}&scope=bot&permissions=2146827775&response_type=code&redirect_uri={{urlquery (joinStr ""  "https://" .Host "/manage")}}">Adicione ao servidor</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/premium">Premium</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 mr-2">
        <a class="btn btn-outline-danger my-2 my-sm-0" href="/manage">Painel de Controle</a>
      </form>
      {{if .User}}
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-danger my-2 my-sm-0" href="/logout">Logout</a>
      </form>
      {{end}}
    </div>
  </nav>
  <!-- Intro -->
  <div id="tscene" class="intro centered">
    <header class="centered">
      <div id="introo">
        <div class="container centered">
          <div class="row justify-content-md-center">
            <div class="col col-md-10">
              <h1 class="brand-heading bold intro_head">
                <br/>Tid Tibia Bot</h1>
              <p class="intro_headline">Um bot de discord para o MMORPG Tibia</p>
            </div>
          </div>
          {{if ne .DemoServerID "0"}}<div class="row justify-content-md-center">
            <div class="col col-md-10">
              <p class="intro-text poppins"><a href="/manage/{{.DemoServerID}}/home">Clique aqui para uma demonstração do Painel de Controle</a></p>
            </div>
          </div>{{end}}
          <div class="row justify-content-md-center">
            <div class="col col-md-5">
              <div class="numberbutton">
                <img src="/static/img/button.png" alt="" class="btn_img">
                <p class="intro-text poppins bold numbercentered">Servers comigo
                  <br> {{.JoinedServers}}</p>
              </div>
            </div>
            <div class="col col-md-5">
              <div class="numberbutton">
                <img src="/static/img/button.png" alt="" class="btn_img">
                <p class="intro-text poppins bold numbercentered">Comandos utilizados hoje
                  <br> {{.Commands}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Parallax Moving Background -->
    <div id="m_background" data-depth="0.2"></div>
  </div>
  <!-- About -->
  <div class="about">
    <section class="container content-section text-center">
      <a id="about"></a>
      <img class="img-responsive about aboutlogo" src="/static/img/logo_y.png" alt="logo of yagpdb">
      <div class="row justify-content-md-center">
        <div class="col col-lg-8 abouttext" style="padding-bottom: 3%;">
          <h2 class="about poppins semibold">Sobre o Tid Bot</h2>
          <p class="about">Tid Tibia Bot é um bot para discord desenvolvido através do código do YAGPDB.
          A sua principal função é interagir com dados do MMORPG Tibia.
          Facilita a organização de guild, ajuda MUITO em wars, possui um sistema de respawn, avisa se sair notícia nova no tibia, entre muitas outras funcionalidades.
          Além disso, possui todas as funções do YAGPDB oficial, menos os feeds.</p>
          <p class="about">
            <b>Quem sou eu?</b> Meu nome é Pedro Pessoa. Esse bot foi desenvolvido através do código do YAGPDB que é um bot open source muito famoso do discord.
            A única coisa que eu fiz foi implementar funções extras no bot.
            O criador original do bot é o Jonas747(Jonas747#0001).</p>
        </div>
      </div>
    </section>
  </div>
  <!-- Features -->
  <div class="blank">
    <a id="features"></a>
    <section id="features_desktop" class="o_container content-section features">
      <div class="row justify-content-md-center">
        <div class="col col-lg-12">
          <h2 class="feature_title semibold">
            <b>FUNCIONALIDADES</b>
          </h2>
        </div>
      </div>
      <div id="reddit_feed" class="feature_element_l">
        <div class="text-left redbox first">
          <h3>Respawn List</h3>
          <ul>
            <li>Controle os respawns do servidor com muita eficiência</li>
            <li>Nunca esqueça da sua hunt! O bot enviará uma notificação quando chegar a sua vez</li>
            <li>Chegou a hora do pelego? Sem problema! Os moderadores poderão pausar a resp list!</li>
            <li>Completamente personalizavel! Você escolhe quem pode usar a resplist, por quanto tempo, a formatação da mensagem e tudo mais!</li>
          </ul>
        </div>
        <img src="/static/img/reddit feed1.png" class="img-fluid f_image_r second" alt="Example of Reddit Feed from r/discordapp">
        <img src="/static/img/line1.png" class="img-fluid line_image line1" alt="line">
      </div>
      <div id="rolemenu" class="feature_element_r">
        <img src="/static/img/rolemenu1.png" class="img-fluid f_image_l second" alt="Role Menu with reactions">
        <div class="redbox text_right first">
          <h3>Acompanhamento de chars</h3>
          <p>Receba notificações de tudo que acontece com os chars da sua friend list ou da sua hunted list!</p>
          <ul>
            <li>O char upou de level? Eu vou te avisar!</li>
            <li>O char morreu? Eu vou te avisar!</li>
            <li>O char saiu da guild? Eu vou te avisar!</li>
            <li>O char se casou? Sim! Até isso eu vou te avisar!</li>
          </ul>
        </div>
        <img src="/static/img/line4.png" class="img-fluid line_image line2" alt="line">
      </div>
      <div id="automod" class="feature_element_l">
        <div class="text-left redbox first">
          <h3>Busque um char na hora!</h3>
          <p>Use o comando !char -nome do char- para saber tudo sobre ele! Não só isso, use também o comando !mortes para ver as mortes mais recentes do personagem!</p>
        </div>
        <img src="/static/img/automod1.png" class="img-fluid f_image_r second" alt="Auto Moderator in action">
        <img src="/static/img/line1.png" class="img-fluid line_image line3" alt="line">
      </div>
      <div id="customcommands" class="feature_element_r">
        <img src="/static/img/custom commands1.png" class="img-fluid f_image_l second" alt="Custom Command example with invite">
        <div class="redbox text_right first">
          <h3>Online Tracker</h3>
          <ul>
            <li>Hunted/Friend List! Saiba quem está online!</li>
            <li>Muito útil em uma guerra para você saber quem está online e caçando!</li>
            <li>Além disso, eu também vou te avisar dos avanças dos seus inimigos! Se eles morrerem, uparem, etc</li>
          </ul>
        </div>
        <img src="/static/img/line4.png" class="img-fluid line_image line4" alt="line">
      </div>
      <div id="serverstats" class="feature_element_l">
        <div class="text-left redbox first">
          <h3>Notícias!</h3>
          <ul>
            <li>Se sair uma notícia nova no Tibia pode deixar que eu aviso vocês!</li>
            <li>Além disso, você pode usar o comando !news para checar a notícia mais recente do Tibia.</li>
          </ul>
        </div>
        <img src="/static/img/stats1.png" class="img-fluid f_image_r second" alt="Example of the status command">
        <img src="/static/img/line5.png" class="img-fluid line_image line5" alt="line">
      </div>
      <div id="general_moderation" class="feature_element_r">
        <img src="/static/img/moderation1.png" class="img-fluid f_image_l second" alt="Example of Moderation with YAGPDB">
        <div class="redbox text_right first">
          <h3>Lembrete de bosses</h3>
          <p>Você nunca mais vai perder a hora de um boss! Pode deixar que eu pingo você te avisando que chegou a hora de pegar aquele rare de novo ;)</p>
        </div>
      </div>
      <div class="row feature_item">
        <div class="col-lg-12">
          <h2 class="centered big_margin">E a função mais incrível de todas!</h2>
        </div>
      </div>
      <div id="catfacts" class="feature_element_r">
        <img src="/static/img/cat fact1.png" class="img-fluid f_image_l second" alt="A random cat fact">
        <div class="redbox text_right first">
          <h3>Crie seus próprios comandos e funcionalidades</h3>
          <p>O bot conta com um sistema extremamente avançado de Custom Commands que utiliza o package "text/templates" da golang.
          Com esses comandos você pode fazer basicamente o que você quiser! É incrível!</p>
        </div>
      </div>
    </section>
    <!-- Questions and short FAQ -->
    <div class="questions">
      <section id="other" class="container content-section ">
        <div class="row justify-content-md-center">
          <div class="col col-lg-12 ">
            <h2>Tá com alguma dúvida? Checa esses links!</h2>
            <ul>
              <li>Documentação original do YAGPDB para aprender sobre custom commands
                <a class="link" href="https://learn.yagpdb.xyz/">clica em mim!</a>
              </li>
              <li>Entra no nosso servidor e tire suas duvidas por la
                <a class="link" href="https://discord.gg/5HTJVHQ">clica aqui!</a>
              </li>
              <li>Se você quiser saber mais sobre as funcionalidades originais do bot
                <a class="link" href="https://docs.yagpdb.xyz/">saca só!</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <!-- Footer -->
    <section id="footer" class="container container-section blank_no_bg">
      <div class="row justify-content-md-center footer">
        <div class="col col-lg-12">
          <p>
            <b>YAGPDB</b> created by
            <a class="link" href="https://github.com/jonas747" rel="noopener" target="_blank">Jonas747</a> | Landing Page by
            <a class="link" href="https://github.com/michelhn/" rel="noopener" target="_blank">Michdi</a> | Modificado por
            <a class="link" href="https://github.com/Pedro-Pessoa" rel="noopener" target="_blank">Pedro Pessoa</a>
          </p>
        </div>
      </div>
    </section>
    <!-- jQuery, Popper.Js, Bootstrap and Parallax -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <!-- Javascript for moving background (parallax) -->
    <script>
      var scene = document.getElementById('tscene');
      var parallaxInstance = new Parallax(tscene, {
        relativeInput: true,
        hoverOnly: true,
        pointerEvents: true
      });
    </script>
    {{template "googleAnalytics" .}}
</body>
</html>


{{end}} {{define "googleAnalytics"}}{{if and (not .Testing) .GAID}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{.GAID}}', 'auto');
  ga('send', 'pageview');
</script>{{end}}{{end}}
